*.iml
.gradle
/local.properties
.DS_Store
/build
/benchmark-out
/captures
.externalNativeBuild
/.idea

/tmp
/fastlane/private
/fastlane/report.xml

/**/build

# Added by yarn
/package.json
/yarn.lock
/node_modules
**/out/failures
*.bak
progressive/.cxx/
progressive/src/main/cpp/libolm/
progressive/build_cmake/
