<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity android:name="chat.progressive.app.features.debug.TestLinkifyActivity" />
        <activity android:name="chat.progressive.app.features.debug.DebugPermissionActivity" />
        <activity android:name="chat.progressive.app.features.debug.jitsi.DebugJitsiActivity" />
        <activity android:name="chat.progressive.app.features.debug.analytics.DebugAnalyticsActivity" />
        <activity android:name="chat.progressive.app.features.debug.settings.DebugPrivateSettingsActivity" />
        <activity android:name="chat.progressive.app.features.debug.sas.DebugSasEmojiActivity" />
        <activity android:name="chat.progressive.app.features.debug.features.DebugFeaturesSettingsActivity" />
        <activity android:name="chat.progressive.app.features.debug.DebugMenuActivity" />
        <activity android:name="chat.progressive.app.features.debug.leak.DebugMemoryLeaksActivity" />
    </application>

</manifest>
